{% extends 'main.html' %}

{% block content %}

{% if request.user.is_authenticated %}
<div class="text-center mt-5">
    <h1>Добро пожаловать!</h1>
    <div class="card text-center mt-5 d-flex" style="margin-left: auto; margin-right: auto;">
        <div class="card-body">
          <h5 class="card-title">Информация о клиенте</h5>
          <p class="card-text">
              <b>ФИО:</b> {{ client.full_name }}<br>
              <b>Телефон:</b> {{ client.phone }}<br>
              <b>Пол:</b> {{ client.gender }}<br>
              <b>Кол-во заказов:</b> {{ count_orders }} <br>
              <b>Кол-во бонусов:</b> {{ discount_card.points }}
          </и>
        </div>
      </div>
</div>
{% endif %}

{% endblock %}