{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Сервис заказа такси</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </head>
    <body>
        <!-- Responsive navbar-->
        {% block navbar %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="{% url 'main' %}">Сервис заказа такси</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                        {% if request.user.is_superuser %}
                        <li class="nav-item"><a class="nav-link" href="#">Машины</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Водители</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Модели машин</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Улицы</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Операторы</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Администратор</a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item text-danger" href="{% url 'logout' %}">Выход</a></li>
                            </ul>
                        </li>

                        {% elif request.user.is_staff %}
                        <li class="nav-item"><a class="nav-link" href="#">Клиенты</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Заказы</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Поездки</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Доступные машины</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Дисконтные карты</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Оператор</a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Профиль</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item text-danger" href="{% url 'logout' %}">Выход</a></li>
                            </ul>
                        </li>
                       
                        {% elif request.user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Клиент: {{ request.user.username }}</a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{% url 'client/orders' %}">Заказы</a></li>
                                <li><a class="dropdown-item" href="{% url 'client/rides' %}">Поездки</a></li>
                                <li><a class="dropdown-item" href="{% url 'client/discount_card' %}">Дисконтная карта</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item text-danger" href="{% url 'logout' %}">Выход</a></li>
                            </ul>
                        </li>

                        {% elif not request.user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Авторизация</a></li>
                        {% endif %}                      
    
                    </ul>
                </div>
            </div>
        </nav>
        {% endblock %}
        <!-- Page content-->
        <div class="container">
            {% block content %}

            {% if not request.user.is_authenticated %}
            <div class="text-center mt-5">
                <h1>Добро пожаловать!</h1>
                <p class="lead">Для получения доступа к функционалу приложения, пожалуйста, авторизуйтесь</p>
            </div>
            {% endif %}

            {% if request.user.is_authenticated %}
            <div class="text-center mt-5">
                <h1>Добро пожаловать!</h1>
            </div>
            {% endif %}

            {% endblock %}
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        
    </body>
</html>
