{% extends 'main.html' %}

{% block content %}

<h3 class="mt-5 mb-5 text-center">Поездки</h3>

<div class="col-md-12 mt-5 mb-5 table-responsive">
    <table class="table">
        <thead>
            <th scope="col">id</th>
            <th scope="col">Номер заказа</th>
            <th scope="col">Длительность, мин</th>
            <th scope="col">Расстояние, км</th>
            <th scope="col">Стоимость, руб</th>
            <th scope="col">Номер машины</th>
            <th scope="col">Водитель</th>
        </thead>
        <tbody>
            {% for ride in rides %}
                <tr>
                    <th scope="row">{{ ride.id }}</th>
                    <td>{{ ride.order_id }}</td>
                    <td>{{ ride.duration }}</td>
                    <td>{{ ride.mileage }}</td>
                    <td>{{ ride.price }}</td>
                    <td>{{ ride.car_number }}</td>
                    <td>{{ ride.driver }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}